 #top{
    display:flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: sticky;
    top: 0px;
    background-color: white;
}
#img{
  
    display:flex;
}
#img>img{
    width:20%;
}
#middle{
   
    display:flex;
  margin:auto;
  font-size: 20px;;
}
#middle>div{
    padding-left: 20px;;
    cursor:pointer;
}
#middle>div:hover{
    color:rgb(73, 165, 246)
}
#middle>div:nth-child(6){
   padding-left: 200px;;
}
#log{
    font-size: 20px;;
    border:0px;
    background-color: white;
    cursor: pointer;
    padding-top: 5px;
}
#log:hover{
    color:rgb(174, 37, 37)
}
.sign{
   font-size: 20px;
   border:0px;
   background-color:rgb(20, 58, 227);
   border-radius: 5px;
   padding-inline: 10px;;
   color:white;
   padding:5px;
   cursor: pointer;
  
}
.sign:hover{
   background-color: rgb(59, 59, 121);
}
#sign{
    cursor:pointer;
}
 #desc{
    text-align: center;
    width:80%;
    margin:auto;
 }
 #desc>h1{
    font-size: 65px;
    line-height: 65px;
    color: rgb(27, 27, 68);
 }
#desc>h1+p{
    font-size: 29px;
    padding-left: 60px;;
    padding-right: 40px;;
    color: gray;
   
}
#desc>button{
    font-size: 20px;;
    padding: 15px;;
    border:0px;
    padding-left: 28px;
    padding-right: 28px;
   background-color:rgb(20, 58, 227);
   border-radius: 4px;;
   color:white;
}
#video{
 width:60%;
 margin:auto;
 margin-left:150px;;
}
#video>img{
    margin-top: 40px;;
    width:130%;
  
   
} 
#mentiback{
    margin-top: 30px;;
    background-color: rgb(234, 231, 231);
   
}
#mentiback>h1{
    padding-top: 20px;;
    font-size: 50px;;
    text-align: center;
    color: rgb(52, 123, 198);
}
#menti{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    width:80%;
    gap:40px;
    margin:auto;
    margin-top: 20px;
}
#menti>div>h2{
    text-align: center;
}
#menti>div>p{
    text-align: center;
    color: rgb(75, 71, 71);
}
#explore{
    margin-top: 20px;;
    margin-left: 590px;;
    padding:10px;
     color:rgb(86, 99, 243);
     border:3px solid rgb(86, 99, 243);
     border-radius: 4px;;
     margin-bottom: 20px;;
     font-size: 20px;;
     cursor: pointer;
}
#explore:hover{
    color:white;
    background-color: rgb(39, 118, 222);
}

#mil>h1{
    text-align: center;
    color:rgb(31, 31, 78);
    font-size: 45px;;
    padding-left:380px;
    padding-right: 380px;;
}
#milbox{
    display:grid;
    gap:50px;
   text-align: center;
    width:80%;
    grid-template-columns: repeat(3,1fr);
   padding-left: 140px;; 
   

}
#milbox>div>h1{
    font-size: 50px;;
    color:rgb(31, 31, 78);
}
#milbox>div>p{
    font-size: 30px;;
    color:rgb(31, 31, 78);
   
}
#milboxi{
    margin:auto;
    margin-top: 40px;;
    display:grid;
    gap:20px;
   text-align: center;
    width:80%;
    grid-template-columns: repeat(2,1fr);
}
#milboxi>div>img{
    width:80%;
    
}
#milboxi>div>h1{
    color:rgb(31, 31, 78);
}
#milboxi>div>h2{
    color:rgb(55, 55, 210);
}
#milboxi>div>button{
    color:rgb(86, 99, 243);
     border:3px solid rgb(86, 99, 243);
     border-radius: 4px;;
     padding:10px;
     font-size: 15px;;
    
}

#back{
    margin-top: 50px;;
    width:100%;
    height:400px;
    background-color: rgb(114, 98, 98);
 }
 #back>h1{
       padding-top: 30px;;
       padding-left: 300px;
       padding-right: 200px;
       font-size:70px;;
       line-height: 70px;;
       color:white;
       text-align: center;
 }
 
#back>button{
    margin-bottom: 40px;
    padding: 15px;
    margin-left: 600px;
    margin-top: 50px;;
    font-size: 25px;;
    color: rgb(70, 112, 229);
    border:2px solid rgb(70, 112, 229);
    width:180px;
    border-radius: 5px;
 }
 #back>button:hover{
     color:white;
     background-color: rgb(37, 37, 145);
 }
 #last{
    margin:auto;
    padding-top: 40px;;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap:60px;
    width:80%;
   
 }
 #las{
background-color: rgba(220, 228, 247, 0.773);
 }
 #last>div>h2{
    color:rgb(82, 69, 69);
    font-size: 22px;;
    line-height: 20px;;
    cursor: pointer;
 }
 #Me{
    cursor: pointer;
}
#Me:hover{
    color: rgb(156, 57, 126);
}